[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
honcho = "*"
radon = "*"
wily = "*"
pre-commit = "*"
pylint = "*"

[packages]
requests = "*"
flask = "*"
gunicorn = "*"
flask-sqlalchemy = "===2.4.1"
flask-migrate = "==2.5.2"
flask-script = "==2.0.6"
validators = "*"
psycopg2 = "===2.8.4"
python-dotenv = "*"
rq = "===1.4.2"
redis = "===4.5.3"

[requires]
python_version = "3.7.4"
