#chart {
overflow-y: scroll;
}

#chart {
background: #eee;
padding: 3px;
}

#chart div {
width: 0;
transition: all 1s ease-out;
-moz-transition: all 1s ease-out;
-webkit-transition: all 1s ease-out;
}

#chart div {
height: 30px;
font: 15px;
background-color: #006dcc;
text-align: right;
padding: 3px;
color: white;
box-shadow: 2px 2px 2px gray;
}

#search {
    width: 500px;
    margin: 4px auto;
    max-width: 800px;
  }

#results-wrapper {
    overflow: auto;
    clear: both;
}

#results-right-side {
    float: right;
    align-items: flex-start;
    width: 25%;
}

#results-left-side {
    float: left;
    width: 70%;
}

#anonymous-text {
    color: lightslategray;
    font-size: smaller;
    text-align: right;
}

#is-currency {
    currenc
}