#chart {
overflow-y: scroll;
}

#chart {
background: #eee;
padding: 3px;
}

#chart div {
width: 0;
transition: all 1s ease-out;
-moz-transition: all 1s ease-out;
-webkit-transition: all 1s ease-out;
}

#chart div {
height: 30px;
font: 12px;
background-color: #006dcc;
text-align: right;
padding: 3px;
color: white;
box-shadow: 2px 2px 2px gray;
}

#search {
    width: 75%;
    margin: 4px auto;
    max-width: 600px;
    text-align: center;
    }

#results-wrapper {
    clear: both;
}

#results-left-side {
    float: left;
    text-align: left;
}

#results-right-side {
    float: right;
    text-align: left;
}

#anonymous-text {
    color: lightslategray;
    font-size: smaller;
    text-align: right;
}
